#navbar-principal {
    background-color: blueviolet;
    padding: 3px;
}

.logo-navbar #logo{
    color:white; 
    font-weight: bold; 
    font-size: 22px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: blueviolet;
    /*border: 1px solid white;*/
    text-align: center;
}   

#sesion-navbar {
    font-size: 16px;
    /*border: 1px solid white;*/
    display: flex;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#registrarse {
    border: 1px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

#CuadroSesion{
    border: 2.5px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    border-radius: 5px;
}

#DivDerecha, #HomeIzquierda{
    padding: 20px;
}

#DivCalendario{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px;
}

#Calendario{
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

#BtnServicios{
    padding: 5px;
    
}

#DivBotones{
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

#CenterDiv, #DivChat{
    justify-content: center;
    align-items: center;
    display: flex;
}
